<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

  <div class="locked content">
    <i class="fa fa-lock" aria-hidden="true" style="color: rgb(136, 136, 136); font-size: 200px; margin-bottom: 10px;"></i> 
    <h1>OOPS, The Site is Locked Now :)</h1>
    <h2>This site is only available during working hours </h2>
    <i class="fa fa-clock" aria-hidden="true" style="color: rgb(243, 85, 85);"></i>
    <p style="color: seagreen;"> Monday to Friday,  from 9H to 17H </p>
  </div>

</body>
</html>