<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <div class="home">
      
    <div>
      <h1>
        WELCOME TO <span style="color: red;">Go My Code</span>
      </h1>
      <br/>
    </div>
      <div
        class="hackerspaces-introduction website-block-fixed-height-VH"
        style="background-color: rgb(245, 245, 245); color: rgb(15, 15, 15)"
      >
        <div class="hackerspaces-introduction__description">
          <h1
            class="
              website-header-title
              hackerspaces-introduction__description__bold-text
            "
          >
            Join a global tech community
          </h1>
          <br/> <br/>
          <p>
            Visit our hackerspaces and discover a peaceful and dynamic
            environment where students receive the support and encouragement of
            the entire GOMYCODE team.
          </p>
        </div>
        <div
          class="
            hackerspaces-introduction__illustration
          "
        >
          <img
            src="https://gomycodewebsite.blob.core.windows.net/website/img/hackerpsace_51f0e9e023.png"
            height="400"
            width="500"
          />
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
